# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
/.vs
/OneshotsGlowHack/Release/*
/OneshotsGlowHack/Debug/*
/Release/*
/Debug/*

/HazeDumper/csgo.cs
/HazeDumper/csgo.hpp
/HazeDumper/csgo.json
/HazeDumper/csgo.min.json
/HazeDumper/csgo.toml
/HazeDumper/csgo.vb
/HazeDumper/config_2017-11-21.json
/HazeDumper/hazedumper-rs-v0.2.1-orig.exe
/OneshotsGlowHack/csgo.toml
